@charset "utf-8";
/* CSS Document */

.uppercase,
nav ul li a {
  text-transform: uppercase;
}

nav ul li a:hover {
   text-decoration:none;
   background-color: white;
   color: #002331 !important;
}

h1 {
  font-family: "Roboto Condensed" !important;
}

/*Footer*/
body {
  background-color: #002331;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main, .container {
  flex: 1 0 "auto";
}

table tr td {
  color: white;
  font-family: 'Roboto Condensed';
}

.info-table {
  font-size: 20px;
}

#GnT-parallax {
  height: 70vh;
}

.navbar .nav-wrapper .brand-logo {
  margin-left: 25px;
  font-weight: 100;
  font-family: "Roboto";
  text-transform: uppercase;
  letter-spacing: 2px;
}

#logo {
  height: 10vh;
  display: block;
  margin: auto;
}

.row {
  display: flex;
  width: 100%;
}

.twitch-affiliate-img {
  display: flex;
  justify-content: center;
}

.background {
  background-color: #002331 !important;
}

.dropdown-content {
  background-color: #00202B !important;
}

.text {
  color: #507D7A !important;
}

.card {
  width: 100%;
  border-radius: 8px !important;
}

.dark-card { 
  border-radius: 8px !important;
}

.dark-card, .dark-card-action {
  background-color: #011d27 !important;
  color: white;
}

.blue.darken-7 {
  background-color: #00202B !important;
}

.resume-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project-card {
  height: 33vh;
}

/* label color */
 .input-field label {
   color: #000;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #000;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 /* valid color */
 .input-field input[type=text].valid {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 /* invalid color */
 .input-field input[type=text].invalid {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: #000;
 }

 span {
   text-align: center;
   text-decoration: none;
 }

 .active-page,
 .accent-color {
   background-color: #FD3D50 !important;
 }

 .accent-color-text {
   color: #FD3D50 !important;
 }

 .blue-violet {
   background-color: #6B30EA !important;
 }

 #profilepic {
  object-fit: cover;
  object-position: 20% 20%;
  display: flex;
  justify-content: center;
  width: 256px;
  height: 256px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
  position: relative;
 }

 #github, #linkedin {
	max-width: 10%;
  opacity: 0.3;
  background: transparent;
 }

 #github:hover, #linkedin:hover {
   opacity: 1;
 }

 #staggered-list-1 li, #staggered-list-2 li{
   opacity: 0;
 }

 #disappearing-img {
   opacity: 0;
 }

#commit-icon {
  display: inline-block;
  width: 25px;
  height: auto;
  padding-right: 3px;
}

#NC_commits, #GnT_commits {
  display: inline-block;
}

#portfolio-container {
  position: relative;
  top: -130px;
}

footer p a {
  text-decoration: none;
  color: white;
}

.mdi-navigation-menu,
.mdi-navigation-menu:before {
  padding-left: 10px;
}

.thin-text {
  font-family: "Roboto Light", sans-serif;
}

.condensed,
.hover-text {
  font-family: "Roboto Condensed", sans-serif;
}

.red-test {
    color: red;
}

.importantRed { background-color: #e74c3c !important; }

.importantGreen { background-color: #2ecc71 !important; }

.root {
  padding-left: 1vw;
}

.parallax-container {
  height: 25vh !important;
}

.dropdown-content {
  background-color: #00202B !important;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: white !important;
}
