name: Sync Site to GCP
on:
  push:
    branches:
      - master
jobs:
  build:
    name: Build and Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          ref: refs/head/master
      - uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
        with:
          service_account_email: ${{ secrets.GCP_SA_EMAIL }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
      - run: gsutil -m rsync -d -c -r public gs://nguyeningcode.com
      - run: gsutil -m setmeta -h "Cache-Control:public, max-age=3600" gs://nguyeningcode.com/**/*.html
      - run: gsutil -m setmeta -h "Cache-Control:public, max-age=31536000" gs://nguyeningcode.com/js/*.js
      - run: gsutil -m setmeta -h "Cache-Control:public, max-age=31536000" gs://nguyeningcode.com/css/*.css
      - run: gsutil -m setmeta -h "Cache-Control:public, max-age=31536000" gs://nguyeningcode.com/img/*.png
      - run: gsutil -m setmeta -h "Cache-Control:public, max-age=31536000" gs://nguyeningcode.com/img/*.jpg